[submodule "themes/naysayer-theme"]
	path = themes/naysayer-theme
	url = git@github.com:nickav/naysayer-theme.el.git
[submodule "themes/tron-legacy-emacs-theme"]
	path = themes/tron-legacy-emacs-theme
	url = git@github.com:ianpan870102/tron-legacy-emacs-theme.git
