/semanticdb/
/.places
/.backup
/abbrevs
/ido.last
/init.elc
/.desktop/
/eshell/
/smex-items
/tramp
/recentf
/ede-projects.el
/projectile-bookmarks.eld
/helm-adaptive-history
/anaconda-mode/
/projectile/
/semantic/
/auto-save-list/
/irony/
*.elc
*~
recentf-save.el

# ELPA metadata
elpa/*.txt
elpa/archives
elpa/*.signed
elpa/gnupg
/package-quickstart.el
/magithub/
/bookmarks
/.emacs.desktop
/#*#
/elpa/pdf-tools-*/epdfinfo
/transient/
/.lsp-session-v1
/elpa/vterm-*/build/
/elpa/vterm-*/vterm-module.so
## integration...origin/integration
/.dap-breakpoints
/eclipse.jdt.ls/
/forge-database.sqlite
/network-security.data
/request/
/workspace/
/elpa/
