/.cache/
/semanticdb/
/.places
/.backup
/abbrevs
/ido.last
/init.elc
/.desktop/
/eshell/
/smex-items
/tramp
/recentf
/ede-projects.el
/projectile-bookmarks.eld
/helm-adaptive-history
/anaconda-mode/
/projectile/
/semantic/
/auto-save-list/
/irony/
*.elc
*~
recentf-save.el

# ELPA metadata
elpa/*.txt
elpa/archives
elpa/*.signed
elpa/gnupg
/package-quickstart.el
/magithub/
/bookmarks
/.emacs.desktop
/#*#
/network-security.data
