/semanticdb/
/.places
/.backup
/abbrevs
/elpa/
/ido.last
/init.elc
/.desktop/
/eshell/
/smex-items
/tramp
/recentf
/ede-projects.el
/projectile-bookmarks.eld
/helm-adaptive-history
/anaconda-mode/
/auto-save-list/
*.elc
